{% extends "base.html" %} {% block title %}Localização{% endblock %} {% block content %}
<h1>Nossa Localização</h1>
<p>Veja onde estamos localizados.</p>
<iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3664.7009681771224!2d-47.298840423298216!3d-23.290312878986885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf5ab7eef671e9%3A0x6ebbd0f0042492f4!2sFatec%20Itu%20-%20Dom%20Amaury%20Castanho!5e0!3m2!1spt-BR!2sbr!4v1725324318167!5m2!1spt-BR!2sbr"
    width="700" height="500" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}